*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'Roboto-light';
  src: url(../fonts/Roboto-Light.ttf);
}
@font-face {
  font-family: 'Roboto-regular';
  src: url(../fonts/Roboto-Regular.ttf);
}
@font-face {width: 80px;
  height: 3px;
  font-family: 'Roboto-medium';
  src: url(../fonts/Roboto-Medium.ttf);
}
@font-face {
  font-family: 'Roboto-condensad';
  src: url(../fonts/RobotoCondensed-Bold.ttf);
}
:root{
  --bs-firecolor:#FF7500;
  --bs-white:#ffffff;
  --bs-black:#000000;
  --bs-dark:#252420;
  --bs-robotolight:'Roboto-light';
  --bs-robotoregular:'Roboto-regular';
  --bs-robotocondensad:'Roboto-condensad';
  --bs-rm:'Roboto-medium';

}
body{
  max-width: 1440px;
  height: auto;
  font-family: var(--bs-robotolight);
  font-weight: 400;
}
.container{
  max-width: 1100px;
  margin: 0 auto;
}

/* d-flex */
  .d-flex{
    display: flex;
  }
  .justify-bet{
    justify-content: space-between;
  }
  .align-center{
    align-items: center;
  }
  .align-fstart{
    align-items: flex-start;
  }
/* d-flex */
.header{
  max-width: 1440px;
  border-top: 5px solid var(--bs-firecolor);
}

.navigation{
  background-color: var(--bs-white);
  height: 91.18px;
}
.site-logo,
.logo{
  width: 227px;
  height: 59.18px;
  margin-right: 263px;
}
.nav-list{
  list-style-type: none;
  width: 610px;
  height: 39px;
  padding-right: 12px;
}
.nav-item{
  margin-right:12px;
}
.nav-link{
  text-align: center;
  text-decoration: none;
  text-transform: uppercase;
  color: var(--bs-black);
  font-family: var(--bs-rm);
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 1px;
}
.nav-link:hover{
  color: var(--bs-firecolor);
  border-bottom: 3px solid var(--bs-firecolor);
}
.btn-link{
  padding: 12px 24px;
  background: #FF7500;
  opacity: 0.8;
  border-radius: 4px;
  font-family: var(--bs-rm);
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  text-decoration: none;
}
.header-hero{
  background-color: var(--bs-dark);
  height: 488px;
}
.left-menu{
  width: 387px;
  height: 328px;
  margin-top: 80px;
}
.hr-hero__border{
  width: 80px;
  height: 3px;
  background: var(--bs-firecolor);
  margin-bottom: 40px;
}

.header-hero__heading{
  font-family: var(--bs-robotocondensad);
  font-weight: 700;
  font-size: 40px;
  line-height: 48px;
  letter-spacing: 0.5px;
  color: var(--bs-white);
  margin-bottom: 24px;

}
.header-hero__paragriph{
  font-family: var(--bs-robotoregular);
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  margin-bottom: 32px;
}
.header-hero__btn{
  padding: 12px 24px;
  background-color: var(--bs-firecolor);
  font-family: var(--bs-robotoregular);
  font-weight: 700;
  font-size: 13px;
  line-height: 15px;
  letter-spacing: 0.5px;
  color: #FFFFFF;
  border: none;
  border-radius: 4px;
}
.right-menu > .rm-thumbnail >.hero-thumbnail{
  margin-top: 40px;
  width: 510px;
  height: 510px;
}