@font-face {
    font-family: 'Roboto';
    font-weight: 400;
    src: url(../fonts/Roboto-Regular.ttf);
}

@font-face {
    font-family: "Roboto-Bold";
    font-weight: 700;
    src: url(../fonts/Roboto-Bold.ttf);
}

h1,h2,h3,h4,h5,h6{
    font-family: 'Roboto-Bold'
}